---
layout: "project"
title: "The Eagle • Fried Chicken"
description: "<small>Bring the</small><br><big>wet naps.</big>"
metaDescription: "Website design and front-end development for a restaurant serving fried chicken, craft beer and southern comforts."
url:
roles:
  - Web Design
  - Front-end Development
topics:
  - Responsive Web Design
  - Restaurant Website
  - Cincinnati, OH
  - Indianapolis, IN
note: "Kids. Socks. Hickory Docks. Get it? Using grippy puff vinyl, Hickory Docks prints socks with whatever names or words a kid could conceive. This wee side business never saw the light of day but the work was entertaining nonetheless."
---
<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-eagle-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Home</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-eagle-3.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Press</h5>
      </figcaption>
    </figure>
    <figure>
      <%= image_tag 'project-eagle-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Menu</h5>
      </figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <%= image_tag 'project-eagle-5.jpg', class:'img-responsive' %>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-eagle-6.jpg', class:'img-responsive' %>
    </figure>
  </div>
  <div class="col-sm-2">
    <figure>
      <%= image_tag 'project-eagle-7.jpg', class:'img-responsive' %>
    </figure>
  </div>
</div>
