---
layout: "project"
title: "A Family Crest • Custom artwork"
description: "<small>In unity</small><br><big>is strength.</big>"
metaDescription: ""
url:
roles:
  - concepting
  - design
topics:
  - artwork
  - family crest
  - print on wood
  - custom
  - modern
note: "For years, a close friend of mine has talked about creating a family crest for his nature loving pack. I'm honored to bring that vision to life. Each daughter appears as their spirit animal – the elegant swan, the mischievous coon and the playful otter. The leaves and branches represent the changing seasons of plenty and want. Seven hill surround their hometown of Cincinnati hence the seven dots marking seven curves. Now let's not forget about dear old Mom and Dad. They come together at the center, offering peace through their strength in unity."
---
<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-family-crest-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Artwork</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-family-crest-3.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Hand Detail</h5>
      </figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-family-crest-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Swan Detail</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-family-crest-5.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Racoon Detail</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-family-crest-6.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Otter Detail</h5>
      </figcaption>
    </figure>
  </div>
</div>
