---
layout: "project"
title: "Hickory Docks • Customized Socks for Kids"
description: "<small>Tick tock.</small><br><big>Words on socks.</big>"
metaDescription: "Naming, logo and product design for a company that prints customized socks for kids."
url:
roles:
  - naming
  - logo
  - product design  
topics:
  - kids
  - socks
  - personalized
  - crafts
  - vinyl
note: "Kids. Socks. Hickory Docks. Get it? Using grippy puff vinyl, Hickory Docks prints socks with whatever names or words a kid could conceive. This wee side business never saw the light of day but the work was entertaining nonetheless."
---
<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-hickory-docks-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Logo</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-hickory-docks-3.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Names on Socks</h5>
      </figcaption>
    </figure>
    <figure>
      <%= image_tag 'project-hickory-docks-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branded Stamp</h5>
      </figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-hickory-docks-5.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Hickory Docks” Concept Card</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-hickory-docks-6.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Bitsy Booties” Concept Card</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-hickory-docks-7.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Ankle Biters” Concept Card</h5>
      </figcaption>
    </figure>
  </div>
</div>
