---
layout: "project"
title: "Rohs Street Cafe • A College Coffeeshop"
description: "<small>Peace. Joy.</small><br><big>Coffee.</big>"
metaDescription: "Logo redesign for a coffeeshop just beyond the University of Cincinnati campus."
url:
roles:
  - Identity Redesign
topics:
  - Logo
  - Coffeeshop
  - University Christian Church
  - University of Cincinnati
  - Cincinnati, Ohio
note: "Rohs Street Cafe is in a league of its own. Started as a neighborhood outreach by University Christian Church, this place has become home for so many different folks. It's also one of the first shops in Cincinnati to champion fair and direct trade. Good conscience. Big space. Delicious coffee."

---
<div class="row">
  <div class="col-sm-7">
    <figure>
      <%= image_tag 'project-rohs-street-cafe-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Logo</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-5">
    <figure>
      <%= image_tag 'project-rohs-street-cafe-3.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Color Variations</h5>
      </figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-rohs-street-cafe-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Labels</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <figure>
          <%= image_tag 'project-rohs-street-cafe-5.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Mug</h5>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6">
        <figure>
          <%= image_tag 'project-rohs-street-cafe-6.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Stamped Bags</h5>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <figure>
          <%= image_tag 'project-rohs-street-cafe-7.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Menu</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div>
  <p class="text-center"><small><em>Special thanks to <a href="http://www.workwith.dj/">D.J. Trischler</a> for the lovely photos.</em></small></p>
  <hr class="spacer spacer-xs">
</div>
