---
layout: "project"
title: "Sloan Digital • Drone photography for realtors"
description: "Eye in the sky."
url:
roles:
  - identity
topics:
  - logo
  - drone photography
  - real estate
  - video production
note: "Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo."
---

<%= image_tag 'project-sloan-digital-logo.jpg', alt: 'Final logo', class: 'img-responsive' %>
<p>Final logo</p>

<%= image_tag 'project-sloan-digital-logos.jpg', alt: 'Logo variations', class: 'img-responsive' %>
<p>Logo variations</p>

<%= image_tag 'project-sloan-digital-proportions.jpg', alt: 'Logo proportions', class: 'img-responsive' %>
<p>Logo proportions</p>

<div class="row">
  <div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch1.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch2.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
</div>

<div class="row">
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch3.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch4.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
</div>
