---
layout: "project"
title: "Sloan Digital"
description: Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.
image: project-sloan-digital-jumbotron-fg.png
url: 
roles:
  - identity
topics:
  - logo
  - drone photography
  - real estate
  - video production
---

<%= image_tag 'project-sloan-digital-logo.jpg', alt: 'Final logo', class: 'img-responsive' %>
<p>Final logo</p>

<%= image_tag 'project-sloan-digital-logos.jpg', alt: 'Logo variations', class: 'img-responsive' %>
<p>Logo variations</p>

<%= image_tag 'project-sloan-digital-proportions.jpg', alt: 'Logo proportions', class: 'img-responsive' %>
<p>Logo proportions</p>

<div class="row">
  <div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch1.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch2.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
</div>

<div class="row">
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch3.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
	<div class="col-sm-6">
    <%= image_tag 'project-sloan-digital-sketch4.jpg', alt: 'Logo concept sketch', class: 'img-responsive' %>
		<p>Logo concept sketch</p>
  </div>
</div>
