---
layout: "project"
title: "Sloan Digital • Drone Photography for Realtors"
description: "<small>An eye</small><br><big>in the sky.</big>"
metaDescription: ""
url:
roles:
  - identity
topics:
  - logo
  - drone photography
  - real estate
  - video production
note: "Same name. Different dude. Sloan Digital is the high flying small business of my oldest nephew. Because what person doesn’t want to see a flyover video of their home-to-be? A few concept boards later, the brand took flight. And surprise, surprise…the boy still owes me lunch."
---

<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-sloan-digital-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Logo</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-xs-6 col-sm-12">
        <figure>
          <%= image_tag 'project-sloan-digital-3.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Stacked Logo</h5>
          </figcaption>
        </figure>
      </div>
      <div class="col-xs-6 col-sm-12">
        <figure>
          <%= image_tag 'project-sloan-digital-4.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Icon</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <%= image_tag 'project-sloan-digital-6.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Fine tuning</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <%= image_tag 'project-sloan-digital-5.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Inspiration</h5>
      </figcaption>
    </figure>
    <!-- <figure>
      <%= image_tag 'project-sloan-digital-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Real estate flyover</h5>
      </figcaption>
    </figure> -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/48F8ELqFg5g"></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-sloan-digital-7.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Cloud” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-sloan-digital-8.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Propel” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-sloan-digital-9.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“Play On” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
</div>
