---
layout: "project"
title: "3 Goats Coffee Co. • Local coffeeshop"
description: "<small>3 Goats.</small><br><big>Black. No room.</big>"
metaDescription: ""
url:
roles:
  - Identity
  - Branding deck
topics:
  - Logo
  - Coffeeshop
  - Community
  - 'Mom & Pop'
  - Bend, Oregon
note: "<p>This local hangout is just as dedicated to community as it is to coffee. And now their identity is off and galloping (or whatever goats do) — a dream come to true for the eager new owner.</p>

<p>In the end, I created concept sketches, the final logo and the makings of a branding deck. But if I were on the hook for more…the ornery nature of the goat is too irresistible. Imagine large format vinyl wall decals throughout the shop. Hooves in high places. A head creeping out of nook or corner. Off kilter crops. Oh the possibilities.</p>"
---

<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-three-goats-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Logo</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-xs-6 col-sm-12">
        <figure>
          <%= image_tag 'project-three-goats-3.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Reusable tote</h5>
          </figcaption>
        </figure>
      </div>
      <div class="col-xs-6 col-sm-12">
        <figure>
          <%= image_tag 'project-three-goats-4.jpg', class:'img-responsive' %>
          <figcaption>
              <h5>Coffee to go</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-three-goats-5.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“The Poet” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-three-goats-6.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“The Pilgrim” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <figure>
      <%= image_tag 'project-three-goats-8.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“The Storyteller” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag 'project-three-goats-7.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>“The Romantic” concept sketch</h5>
      </figcaption>
    </figure>
  </div>
</div>
