---
layout: "project"
title: "Whittle + Hone • A UX Shop"
description: "<small>On my</small><br><big>honor.</big>"
metaDescription: "Naming, logo and branding for a digital design studio specializing in UX."
url:
roles:
  - naming
  - logo
  - branding
topics:
  - UX
  - digital design
  - analytics
  - start up
note: "Refine. Refine. Refine. Whittle + Hone is a digital studio that pairs design excellence with testing data to sharpen the user experience of any website or app. The backbone of the brand is tied (with proper knots of course) to the ethics of Boy Scouts – doing your best with honor and duty."
---
<div class="row">
  <div class="col-sm-6">
    <figure>
      <%= image_tag 'project-whittle-hone-2.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Final Logos</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <%= image_tag 'project-whittle-hone-3.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branding Deck Slide</h5>
      </figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-3">
    <figure>
      <%= image_tag 'project-whittle-hone-4.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branding Deck Slide</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-6 col-sm-3">
    <figure>
      <%= image_tag 'project-whittle-hone-5.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branding Deck Slide</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-6 col-sm-3">
    <figure>
      <%= image_tag 'project-whittle-hone-6.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branding Deck Slide</h5>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-6 col-sm-3">
    <figure>
      <%= image_tag 'project-whittle-hone-7.jpg', class:'img-responsive' %>
      <figcaption>
          <h5>Branding Deck Slide</h5>
      </figcaption>
    </figure>
  </div>
</div>
