<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <p><small>In the meantime, say "hey" on <%= link_to 'Twitter', 'http://twitter.com/rsloan39' %>, <%= link_to 'Instagram', 'http://instagram.com/rsloan39' %> or <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/rsloan39' %>.<br>Or check out some work at <%= link_to 'Ample', 'http://helloample.com' %>.</small></p>
    <!-- <nav class="footer-links">
      <ul class="list-inline">
        <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %>">Home</a></li>
      </ul>
    </nav>
    <p class="footer-copyright">©2015 rsloan39</p> -->
  </div>
</div>
