<nav class="footer-links">
  <ul class="list-unstyled">
    <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %>">Home</a></li>
    <li><a href="/projects" class="<%= 'active' if current_page.path =~ /^project/ %>">Projects</a></li>
    <li><a href="/thoughts" class="<%= 'active' if current_page.path =~ /^thoughts/ %>">Thoughts</a></li>
  </ul>
</nav>

<div class="container">
  <div class="footer-about">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag 'footer-portrait.jpg', class:'img-circle center-block' %>
        <p><big>Howdy!</big><br>My name is Rob Sloan. I'm a designer, front-developer and proud co-founder of <%= link_to 'Ample', 'http://helloample.com' %>, working remotely from Bend, Oregon. Checkout Projects, professional and personal, </p>
      </div>
    </div>
  </div>

  <div class="footer-social">
    <ul class="list-inline">
      <li><a href="https://www.linkedin.com/in/rsloan39" target="blank"><i class="fa fa-linkedin fa-fw"><span class="sr-only">LinkedIn</span></i></a></li>
      <li><a href="http://twitter.com/rsloan39" target="blank"><i class="fa fa-twitter fa-fw"><span class="sr-only">Twitter</span></i></a></li>
      <li><a href="http://instagram.com/rsloan39" target="blank"><i class="fa fa-instagram fa-fw"><span class="sr-only">Instagram</span></i></a></li>
      <li><a href="#"><i class="fa fa-envelope fa-fw"><span class="sr-only">Email me</span></i></a></li>
    </ul>
  </div>

  <div class="footer-small">
    <p>This site is hosted on <%= link_to 'Github', 'http://github.com' %> and built with <%= link_to 'Middleman', 'http://middlemanapp.com' %> and <%= link_to 'Bootstrap', 'http://getbootstrap.com' %>.</p>
  </div>
</div>
