<!-- <nav class="footer-links">
  <ul class="list-unstyled">
    <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %>">Home</a></li>
    <li><a href="/projects" class="<%= 'active' if current_page.path =~ /^project/ %>">Projects</a></li>
    <li><a href="/thoughts" class="<%= 'active' if current_page.path =~ /^thoughts/ %>">Thoughts</a></li>
  </ul>
</nav> -->

<div class="container">
  <div class="footer-about">
    <p><big><em>I’m Rob.</em> I do stuff.</big></p>
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <p>Minor works on display here–a designer’s <em>lightening round</em> if you will. During the day, I’m one of the founders of <%= link_to 'Ample', 'http://ample.co', target:'_blank' %>. There I design websites and apps, create prototypes, head up UX and commit front-end code.</p>
        <p>And when I’m not behind a monitor…I traverse the <%= link_to 'wilderness', 'http://www.outdoorproject.com/adventures/oregon/hikes/broken-top-crater-hike', target:'_blank' %>, mentor at a <%= link_to 'local men’s shelter', 'http://myshepherdshouse.org', target:'_blank' %>, help lead a <%= link_to 'Boy Scout Troop', 'http://www.bend18.mytroop.us/', target:'_blank'  %>, facilitate honest conversations about <%= link_to 'life and faith', 'http://www.antiochchurch.org', target:'_blank' %>, root for the <%= link_to 'Buffalo Bills', 'http://grantland.com/features/a-writer-explores-relationship-buffalo-new-york-nfl-franchise/', target:'_blank' %>, drink <%= link_to 'beer', 'http://boneyardbeer.com', target:'_blank'  %> (occasionally <%= link_to 'my own','https://untappd.com/b/sloanie-s-dry-hopped-kelly-ripa/149166', target:'_blank' %>) and play a cattywampus style of <%= link_to 'ping pong', 'https://www.facebook.com/BendTableTennis', target:'_blank' %>.</p>
        <p>I live in <%= link_to 'Bend, Oregon', 'http://www.ncscooper.com/local-researcher-bend-oregon-doesnt-exist/', target:'_blank' %>. My work is in <%= link_to 'Cincinnati, Ohio', 'https://goo.gl/maps/NTzu9dY6am22', target:'_blank' %>. I’m an owner of two dogs, father of two kids and husband of one <em>amazing</em> lady.</p>
      </div>
      <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-2">
        <p><small>This site is hosted on <%= link_to 'Github', 'http://github.com' %> and custom built with <%= link_to 'Middleman', 'http://middlemanapp.com' %> and <%= link_to 'Bootstrap', 'http://getbootstrap.com' %>.</small></p>
        <div class="footer-social">
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/rsloan39" target="blank"><i class="fa fa-linkedin fa-fw"><span class="sr-only">LinkedIn</span></i></a></li>
            <li><a href="http://twitter.com/rsloan39" target="blank"><i class="fa fa-twitter fa-fw"><span class="sr-only">Twitter</span></i></a></li>
            <li><a href="http://instagram.com/rsloan39" target="blank"><i class="fa fa-instagram fa-fw"><span class="sr-only">Instagram</span></i></a></li>
            <li>
              <script type="text/javascript">
              //<![CDATA[
              <!--
              var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
              "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
              " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!05{)rt{y+xx=l;=+;" +
              "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
              "\"(9)11\\\\,3\\\"00\\\\\\\\07\\\\0r\\\\\\\\\\\\34\\\\06\\\\02\\\\\\\\\\\\rS" +
              "\\\\36\\\\04\\\\01\\\\\\\\21\\\\0G\\\\02\\\\00\\\\02\\\\\\\\25\\\\0D\\\\XHt" +
              "T\\\\\\\\31\\\\0A\\\\2N00\\\\\\\\IMs~8K\\\\ \\\\\\\\7\\\\00\\\\\\\\21\\\\02" +
              "\\\\02\\\\\\\\24\\\\0W\\\\13\\\\03\\\\01\\\\\\\\*U7H00\\\\\\\\00\\\\03\\\\0" +
              "2\\\\\\\\35\\\\03\\\\02\\\\\\\\0O00\\\\\\\\14\\\\04\\\\03\\\\\\\\30\\\\0V\\" +
              "\\JW1;02\\\\\\\\03\\\\0I\\\\02\\\\04\\\\00\\\\\\\\5A00\\\\\\\\1/914-u<065up" +
              "5\\\\rm\\\\=< ,j(t dy31\\\\0j\\\\lm/,\\\\\\\\\\\\\\\\20\\\\04\\\\00\\\\\\\\" +
              "17\\\\0U\\\\V[DT5D02\\\\\\\\RC1A02\\\\\\\\2y02\\\\\\\\NZAI\\\\H\\\\\\\\[\\\\"+
              "30\\\\0I\\\\nF\\\\\\\\NFMQ^~77\\\\1s\\\\ ilv7{17\\\\\\\\ytN1v,|j,e6j +jip`p" +
              "j.v\\\\n3\\\\02\\\\\\\\31\\\\06\\\\02\\\\\\\\17\\\\02\\\\03\\\\\\\\27\\\\03" +
              "\\\\02\\\\\\\\\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngr" +
              "iSt+=;o27=1y%2;*=)yy)9+11>((iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\" +
              "\",o iar{vy)x,f(n ioctun\\\"f)\")"                                           ;
              while(x=eval(x));
              //-->
              //]]>
              </script>
            </li>
          </ul>
        </div>
        <p><small>&copy; <%= Time.now.year %> Rob Sloan. All rights reserved.</small></p>
      </div>
    </div>
  </div>
</div>
