<!-- <nav class="footer-links">
  <ul class="list-unstyled">
    <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %>">Home</a></li>
    <li><a href="/projects" class="<%= 'active' if current_page.path =~ /^project/ %>">Projects</a></li>
    <li><a href="/thoughts" class="<%= 'active' if current_page.path =~ /^thoughts/ %>">Thoughts</a></li>
  </ul>
</nav> -->
<div class="container">
  <div class="footer-about">
    <p><big><em>I’m Rob.</em> I do stuff.</big></p>
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <p>Minor works on display here – a graphic designer’s <em>lightening round</em>. I work at <%= link_to 'Ample', 'http://ample.co', target:'_blank' %> designing websites and apps, creating prototypes, overseeing UX and committing front-end code.</p>
        <p>And when I’m not behind a monitor…I wander the <%= link_to 'wilderness', 'https://www.instagram.com/p/8MdtoBqUWv/', target:'_blank' %>, mentor at a <%= link_to 'local men’s shelter', 'http://myshepherdshouse.org', target:'_blank' %>, help wrangle a <%= link_to 'Boy Scout Troop', 'http://www.bend18.mytroop.us/', target:'_blank'  %>, facilitate honest conversations about <%= link_to 'life and faith', 'http://www.antiochchurch.org', target:'_blank' %>, yell at the <%= link_to 'Buffalo Bills', 'http://grantland.com/features/a-writer-explores-relationship-buffalo-new-york-nfl-franchise/', target:'_blank' %>, drink <%= link_to 'beer', 'http://boneyardbeer.com', target:'_blank'  %> (occasionally <%= link_to 'my own','https://untappd.com/b/sloanie-s-dry-hopped-kelly-ripa/149166', target:'_blank' %>) and play a cattywampus style of <%= link_to 'ping pong', 'https://www.facebook.com/BendTableTennis', target:'_blank' %>.</p>
        <p>I live in <%= link_to 'Bend, Oregon', 'http://www.ncscooper.com/local-researcher-bend-oregon-doesnt-exist/', target:'_blank' %>. My work is in <%= link_to 'Cincinnati, Ohio', 'https://goo.gl/maps/NTzu9dY6am22', target:'_blank' %>. I’m an owner of two dogs, father of two kids and husband of one <em>amazing</em> lady.</p>
      </div>
      <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-2">
        <p><small>I custom built this site using <%= link_to 'Middleman', 'http://middlemanapp.com' %>, <%= link_to 'Bootstrap', 'http://getbootstrap.com' %> and <%= link_to 'SASS', 'http://sass-lang.com/' %>. It's hosted on <%= link_to 'Github', 'http://github.com' %>.</small></p>
        <div class="footer-social">
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/rsloan39" target="blank"><i class="fa fa-linkedin fa-fw"><span class="sr-only">LinkedIn</span></i></a></li>
            <li><a href="http://twitter.com/rsloan39" target="blank"><i class="fa fa-twitter fa-fw"><span class="sr-only">Twitter</span></i></a></li>
            <li><a href="http://instagram.com/rsloan39" target="blank"><i class="fa fa-instagram fa-fw"><span class="sr-only">Instagram</span></i></a></li>
            <li>
              <script type="text/javascript">
                //<![CDATA[
                <!--
                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                "=41){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                ".substr(0,ol);}f(\")05,\\\"emgrxg9xjk=|no>.>>cw/$h+/$)600\\\\|c430\\\\FRSS6" +
                "20\\\\HJ230\\\\k310\\\\FGR^R020\\\\AO]_720\\\\420\\\\310\\\\tP@010\\\\EE200" +
                "\\\\DPprxju771\\\\4yq6tr1N,c|oao+c56%Z+*-oncPDO520\\\\330\\\\620\\\\420\\\\" +
                "400\\\\400\\\\U300\\\\220\\\\100\\\\Q9R230\\\\610\\\\t\\\\100\\\\010\\\\430" +
                "\\\\330\\\\X310\\\\n\\\\700\\\\M610\\\\010\\\\100\\\\29530\\\\eh487;%'n<&=9" +
                ".#o020\\\\v,,:/f$xaj/,ZJTNL420\\\\MVR[@W\\\\\\\\V\\\"(f};o nruter};))++y(^)" +
                "i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\" +
                "\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                           ;
                while(x=eval(x));
                //-->
                //]]>
              </script>
            </li>
          </ul>
        </div>
        <p><small>&copy; <%= Time.now.year %> Rob Sloan. All rights reserved.</small></p>
      </div>
    </div>
  </div>
</div>
