<!-- <div class="container-bleed">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target="#navbar">
      MENU
    </button>
    <%= link_to "<em>r</em>ob <em>sloan 39</em>", '/', class: 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="<%= 'active' if current_page.path == /^projects/ || current_page.path =~ /^index/ %>">Projects</a></li>
      <li><a href="/journal" class="<%= 'active' if current_page.path =~ /^journal/ %>">Journal</a></li>
    </ul>
  </div>
</div> -->


<div class="container-bleed">
  <div class="navbar-header">
    <%= link_to "<em>r</em>ob <em>sloan 39</em>", '/', class: 'navbar-brand', title:"Back to Home" %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/" class="<%= 'active' if current_page.path == /^projects/ || current_page.path =~ /^index/ %>" title="All Projects">Projects</a></li>
  </ul>
</div>
