<div class="container">
  <h1><%= current_page.data.title %></h1>
  <div class="card-grid card-grid-projects">
  	<div class="row">
      <% data.projects.each do |i, project| %>
        <div class="card <%= project.name %>">
          <a href="/projects/<%= project.name %>.html">
          <div class="thumbnail">
            <div class="project-img"></div>
            <div class="caption">
              <h2><%= project.title %></h2>
              <ul class="list-inline project-list text-center">
                <% project.categories.each do |category| %>
                  <li><%= category %></li>
                <% end %>
              </ul>
            </div>
          </div>
          </a>
        </div>
      <% end %>
  	</div>
  </div>
</div>
